<% if flash[:notcie] %>
<p class="notice"><%= flash[:notice] %></p>
<% end %>

<div class="room-show-content">
    <%= image_tag @room.room_image.url, class: "show-image" %>
    <div class="resservations-form">
        <%= form_with model: @reservation, url: new_reservation_path, local: true do |f| %>
        <table>
            <tr>
                <th><%= f.label :startDay, "開始日" %></th>
                <td><%= f.date_field :startDay %></td>
            </tr>
            <tr>
                <th><%= f.label :endDay, "終了日" %></th>
                <td><%= f.date_field :endDay %></td>
            </tr>
            <tr>
                <th><%= f.label :numberOfPeople, "人数" %></th>
                <td><%= f.number_field :numberOfPeople %></td>
            </tr>
            <%= f.hidden_field :room_id, value: @room.id %>
        </table>
 
        <ul>
            <li><%= f.submit "予約する", {class: "yoyaku"} %></li>
        </ul>
    </div>
</div>
